[submodule "backend"]
	path = backend
	url = git@github.com:NikosGour/DistributedSystems.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = git@github.com:NikosGour/DistributedSystemsFrontEnd.git
	branch = main
